 <section class="contact-us container block">
  <div class="contact-us__social">
     <i class="fab fa-twitter fa-lg"></i>
     <i class="fab fa-facebook fa-lg"></i>
     <i class="fab fa-linkedin fa-lg"></i>
  </div>
  <div class="contact-us__address">
    <div class="address-holder">
      <span class="address-holder__label">contact@tapsi.ir</span>
      <span class="address-holder__icon">
        <i class="far fa-envelope fa-lg"></i>
      </span>
      
    </div>
    <div class="address-holder">
      <span class="address-holder__label">09219922992</span>
      <span class="address-holder__icon">
        <i class="fas fa-mobile-alt fa-lg"></i>
      </span>
    </div>
    <div class="address-holder">
      <span class="address-holder__label">تهران، سعادت‌آباد، نبش کوچه باغستان یک </span>
      <span class="address-holder__icon">
        <i class="fas fa-map-marker-alt fa-lg"></i>
      </span>
    </div>
  </div>
  <div class="contact-us__map">
    <img src="/assets/images/map.png" alt="map of our address">
  </div>
  <div class="contact-us__form">
    <div class="form-wrapper">
    <h3>نظرات شما</h3>
    <form>
      <input type="text" placeholder="نام و نام خانوادگی">
      <input type="email" placeholder="ایمیل خود را وارد نمایید">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button type="submit" class="btn btn--primary">ثبت نظر</button>
    </form>
    </div>
  </div>
  </section>